.ue{
  list-style: none;
  background-color: black;
  
}

.ue li{
  color: white;
  display: inline-block;
  padding: 20px 30px;
}

.right {
  width: 68%;
  height: auto;
  float: left;
}

.box{
  background-color: #f1f1f1;
  padding-left: 5px;
}

.right h1{
  border-left: solid 5px;
  border-bottom: solid;
}

.box h3{
  border-left: solid 5px red;
}

.right .submit{
  border: solid 1px lightgray;
  padding: 4px 10px;
  background-color: darkgray;
  color: white;
  border-radius: 5px;
  border-bottom: solid 2px gray;
  margin-bottom: 20px;
}

.a{
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

.a h3{
    border-bottom: solid;
    
}

.left{
  width: 30%;
  height: auto;
  float: left;
  padding-left: 10px;
}

.left ul{
  list-style: none;
}

.left h3{
  border-bottom: dotted;
}

footer{
  clear: both;
  text-align: center;
  color: white;
  background-color: black;
  padding: 2px;
}